.sliderContainer {
    padding: 0rem;
    position: relative;
    inline-size: 90%;
    margin-inline: auto;
}

.sliderWrapper {
    position: relative;
    max-width: 100%;
    /* margin: 0 auto; */
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%; /*Flex grow, flex shrink, flex basis*/
    scroll-snap-align: start;
    scroll-snap-stop: always;
    object-fit: cover;
}

/* Slider Buttons On Bottom */
.sliderNav {
    display: flex;
    column-gap: clamp(1rem, 4vw, 5rem);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.sliderNav button {
    width: 3rem;
    height: 1rem;
    border: 1px solid hsl(var(--color-black), 0.6);
    border-radius: 5px / 5px;
    background: hsl(var(--color-white)); /* Initial white background */
    transition: background 1.0s, transform 1.0s; /* Transitions for background and scale */
}

.sliderNav button:hover, .sliderNav button.active {
    background: linear-gradient(hsl(var(--color-red)), hsl(var(--color-black))); /* Black-red gradient on hover */
    transform: scale(1.3); /* Slight increase in size on hover */
}

.prevButton,
.nextButton {
    position: absolute;
    background-color: hsla(var(--color-black), 0.5);
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding-inline: 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prevButton {
    left: 0;
    border-radius: 0.5rem;
}

.nextButton {
    right: 0;
    border-radius: 0.5rem;
}

.prevButton:hover,
.nextButton:hover {
    background-color: hsla(var(--color-black), 0.8);
}

@media (max-width: 885px) {
    .slider {
        aspect-ratio: 17 / 12;
    }
    .sliderNav button {
        width: 2rem;
        height: 1rem;
        bottom: 0.5rem;
    }
}