.fieldGroup {
    display: flex;
    position: relative;
    width: minmax(10rem, 80%);
    margin: 1rem;
    text-align: center;
}

.fieldGroup input {
    inline-size: 90%;
    padding: 1rem;
    block-size: 100%;
    align-self: center;

    border: 1px solid hsla(var(--color-white), 0.25);
    border-radius: 4px;
    outline: none;

    font-size: clamp(0.5em, 3vw, var(--fs-400));
    color: white;
    background-color: var(--color-grey);

    transition: 0.5s;
}

.fieldGroup > span {
    position: absolute;
    left: 5px;
    padding: 0.5rem;
    
    font-size: clamp(0.8em, 1.7vw, 1.6em);
    color: hsla(var(--color-white), 0.25);
    pointer-events: none;

    transition: 0.5s;
}

/* Field Style When User Focuses On A REQUIRED FIELD */
.fieldGroup input:valid ~ span,
.fieldGroup input:focus ~ span {
    padding-block: 1px;
    border-left: 1px solid hsla(var(--color-red), 0.25);
    border-right: 1px solid hsla(var(--color-red), 0.25);
    letter-spacing: 0.3em;

    color: hsl(var(--color-red));
    font-size: min(var(--fs-200), var(--fs-400));
    background-color: hsl(var(--color-grey));

    transform: translateX(10px) translateY(-12px);
}

.fieldGroup input:valid,
.fieldGroup input:focus {
    border: 1px solid hsla(var(--color-red), 0.75);
}