.blockContainer {
    display: flex;
    flex-direction: column;
    
    line-height: 1.5;
    padding: 2rem;
}

.paragraphContainer > h1 {
    font-size: clamp(5ch, 3.5vw + 1.5rem, 6rem);
    font-weight: 550;
    border: 1px solid hsl(var(--color-black), 0.8);
    background-color: hsl(var(--color-red), 0.5);
    border-radius: 10px;
}

.paragraphContainer > h2 {
    font-size: clamp(2rem, 3vw, 5rem);
    padding-top: 0.5em;
}

.paragraphContainer > p {
    font-size: clamp(2ch, 1.5vw, 1.5rem);
}

.paragraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storyParagraphs {
    justify-self: center;
    line-break: strict;
    text-align: justify;
    
    background: hsl(var(--color-black), 0.5);
    inline-size: min(50rem, 90%);
    min-height: fit-content;
    padding: 2em;
    border: 1px solid white;
}