.blockContainer {
    display: grid;
    place-items: center;
    padding: 3rem;
}

.paragraphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionContainer {
    display: grid;
    
    background: hsl(var(--color-black), 0.5);
    inline-size: min(60rem, 100%);
    margin-inline: 2rem;
    padding: 3em;
    border: 1px solid hsl(var(--color-white), 0.3);
    box-shadow: 0 0 1em hsla(var(--color-red), 0.5);
}

.descriptionContainer > h1 {
    font-size: clamp(5ch, 3.5vw + 1.5rem, 6rem);
    font-weight: 550;
    border: 1px solid hsl(var(--color-black), 0.8);
    background-color: hsl(var(--color-red), 0.5);
    border-radius: 10px;
    align-self: center;
    
    margin-block-end: 1rem;
}

.descriptionContainer p {
    font-size: clamp(2ch, 1.5vw, 1.5rem);
    padding: 1rem;
    inline-size: 75%;
    justify-self: center;
}

.descriptionContainer span {
    position: relative;
    color: hsl(var(--color-red), 1);
    padding-inline-end: .5em;
}

.descriptionContainer span::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--color-red), 1);
    width: 94%;
    height: 2px;
    bottom: 5%;
    left: 0;
}