.showNav {
    top: 21.5%;
    transition: top 0.3s ease, opacity 0.5s ease;
}

.hideNav {
    top: -100%;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.5s ease;
}
.logoWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: hsl(var(--color-black));
}

.logoWrapper img {
    inline-size: min(30rem, 40%);
    margin-block: 0.5rem;
    z-index: 1002;
}

div.menuWrapper {
    display: flex;
    position: relative;
    margin-inline: auto;
    justify-content: center;
    z-index: 2;
}

.menuIcon {
    display: none;
    border: 1px solid white;
    border-radius: 0.5em;
    width: 80%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    font-size: clamp(3ch, 2.3vw, var(--fs-500));
    margin-inline: 2em;
    padding: 0;
}

.navigation li {
    position: relative;
    padding: 1em;
}

.navigation li.cta {
    padding: 0.6em 1em; /* Adjust padding for the button */
    border-radius: 10px; /* Add border radius for rounded corners */
    background-color: hsl(var(--color-red)); /* Set text color */
    font-weight: bold;
    transition: background-color 0.5s, color 0.3s; /* Add transition effect */
    align-self: center;
}

.navigation li.cta:hover {
    background-color: white;
}

/* Target both <a> and <Link> elements */
.navigation li a,
.navigation li a:hover,
.navigation li Link,
.navigation li Link:hover {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 1.5s;
    z-index: 1;
}

/* Apply hover effect to both <a> and <Link> elements */
.navigation li:hover a,
.navigation li:hover Link {
    color: transparent;
    background: linear-gradient(90deg, hsl(var(--color-red)), hsl(10, 100%, 50%));
    -webkit-background-clip: text;
    background-clip: text;
}

/* Target the ::before pseudo-element for both <a> and <Link> elements */
.navigation li a::before,
.navigation li Link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, hsl(var(--color-red)), hsl(10, 100%, 50%));
    transition: width 0.3s;
}

/* Apply hover effect to ::before pseudo-element for both <a> and <Link> elements */
.navigation li:hover a::before,
.navigation li:hover Link::before {
    inline-size: 95%;
}

@media (max-width: 885px) {

    .dropdown {
        position: absolute;
        width: 70%;
        left: 50%; /* align the dropdown to the center horizontally */
        transform: translateX(-50%); /* center the dropdown horizontally */
        z-index: 1;
        transition: all 0.4s ease-in-out;
        border-radius: 10px;
    }
    
    .navigation {
        margin-inline: 0;
        padding: 2rem;
    }

    .menuWrapper, .logoWrapper, #menuIcon {
        position: relative;
        z-index: 2;
    }

    .menuIcon {
        display: block;
        transition: all 0.6s;
    }

    .menuIcon:hover {
        background-color: hsla(var(--color-red), 0.5);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        place-items: center;
        border: 1px solid white;
        padding-block: 2rem;
    }
    .navigation li {
        padding-block: 0.5rem;
    }
    
}