.email-signup {
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem;
    border: 1px solid red;
}

.email-form-heading {
    grid-column: span 2;
    text-align: center;
}

.email-form-heading > * {
    border: 1px solid white;
    padding: 1rem;
}

.terms-group {
    grid-column: 1 / span 2; /* Span both columns */
}

.email-signup > button[type="submit"] {
    grid-column: span 2;
}

.field-group {
    display: flex;
    position: relative;
    text-align: center;
    width: minmax(10rem, 80%);
    gap: 2rem;
    margin-block: 2rem;
}

.field-group input {
    inline-size: 100%;
    color: white;
    padding: 1em;
    border: 1px solid hsla(var(--color-white), 0.25);
    border-radius: 4px;
    outline: none;
    font-size: var(--fs-400);
    background-color: var(--color-grey);
    transition: 0.5s;
}

.field-group > span {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 0.8em;
    padding: 1rem;
    color: hsla(var(--color-white), 0.25);
    transition: 0.5s;
}

.field-group input:valid ~ span,
.field-group input:focus ~ span {
    color: hsl(var(--color-red));
    transform: translateX(10px) translateY(-12px);
    font-size: var(--fs-300);
    padding-block: 1px;
    background-color: hsl(var(--color-black));
    border-left: 1px solid hsla(var(--color-red), 0.25);
    border-right: 1px solid hsla(var(--color-red), 0.25);
    letter-spacing: 0.2em;
}

.field-group input:valid,
.field-group input:focus {
    border: 1px solid hsla(var(--color-red), 0.75);
}

.terms-group {
    margin-inline: auto;
    gap: 2rem;
}

.email-signup > button[type="submit"] {
    color: hsl(var(--color-white));
    border: 1px solid black;
    inline-size: 80%;
    margin-inline: auto;
}
/*
Email Form Requirements:
-> Title: Signup To Our Newsletter
-> SubHeading: Stay Up To Date On Promotions, Updates, Events, & More!
-> Label #1 (Optional): Full Name (Left)
-> Field #1: Full Name (Right)
-> Label #2 (Required): Email Address 
-> Field #2: Email Address (Right)
-> Option #1: I agree to receive emails from StreetKreeps and accept all terms and conditions.
-> Button Sign Me Up
*/