.email-signup {
    display: grid;
    margin-block: 3rem;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border: 5px solid black;
    box-shadow: 0 0 1em hsla(var(--color-red), 0.25);
}

.email-form-heading {
    grid-column: span 2;
    padding: 1rem;
    text-align: center;
    
}

.email-form-heading > h2 {
    letter-spacing: 0.6rem;
    font-size: clamp(2rem, 7vw + 1rem, 6rem);
    background-color: hsl(var(--color-red), 0.5);
}

.email-form-heading > p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.terms-group {
    grid-column: 1 / span 2; /* Span both columns */
}

.email-signup > button[type="submit"] {
    grid-column: span 2;
}

.field-group {
    position: relative;
    text-align: center;
    width: 90%;
    margin-inline: auto;
}

.field-group input {
    inline-size: 100%;
    block-size: 100%;
    padding: 1em;
    border: 1px solid hsla(var(--color-white), 0.25);
    border-radius: 4px;
    outline: none;
    font-size: clamp(0.5rem, 6vw, var(--fs-500));
    color: white;
    background-color: var(--color-grey);
    transition: 0.5s;
}

.field-group > span {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: clamp(0.5rem, 6vw, var(--fs-500));
    padding: 1rem;
    color: hsla(var(--color-white), 0.25);
    transition: 0.5s;
}

/* Field Style When User Focuses On A REQUIRED FIELD */
.field-group input:valid ~ span,
.field-group input:focus ~ span {
    color: hsl(var(--color-red));
    transform: translateX(10px) translateY(-12px);
    font-size: min(var(--fs-200), var(--fs-400));
    padding-block: 1px;
    background-color: hsl(var(--color-grey));
    border-left: 1px solid hsla(var(--color-red), 0.25);
    border-right: 1px solid hsla(var(--color-red), 0.25);
    letter-spacing: 0.3em;
}

.field-group input:valid,
.field-group input:focus {
    border: 1px solid hsla(var(--color-red), 0.75);
}

.terms-group {
    margin-inline: auto;
    gap: 2rem;
}

.terms-group > span {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-inline: 1rem;
}

.email-signup > button[type="submit"] {
    color: hsl(var(--color-white));
    border: 1px solid black;
    inline-size: 60%;
    margin-inline: auto;
}

@media (max-width: 1046px) {
    .email-signup {
        
    }
    

}
/*
Email Form Requirements:
-> Title: Signup To Our Newsletter
-> SubHeading: Stay Up To Date On Promotions, Updates, Events, & More!
-> Label #1 (Optional): Full Name (Left)
-> Field #1: Full Name (Right)
-> Label #2 (Required): Email Address 
-> Field #2: Email Address (Right)
-> Option #1: I agree to receive emails from StreetKreeps and accept all terms and conditions.
-> Button Sign Me Up
*/