.email-signup {
    display: grid;
    inline-size: 90%;
    margin-inline: auto;
    margin-block: 3em;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border: 5px solid black;
    background: var(--color-grad-dark);
    box-shadow: 0 0 1em hsla(var(--color-red), 0.25);
}

.email-form-heading {
    grid-column: span 2;
    width: 80%;
    justify-self: center;
    padding-block: 1rem;
    text-align: center;
}

.email-form-heading > h2 {
    letter-spacing: 0.4rem;
    line-height: 1.2;
    font-size: clamp(1rem, 7vw + 1rem, 6rem);
    border-radius: 1rem;
    background-color: hsl(var(--color-red), 0.5);
}

.email-form-heading > p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.terms-group {
    grid-column: 1 / span 2; /* Span both columns */
}

.email-signup > button[type="submit"] {
    grid-column: span 2;
}

.terms-group {
    margin-inline: auto;
    gap: 2rem;
}

.terms-group > span {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-inline: 1rem;
}

.email-signup > button[type="submit"] {
    color: hsl(var(--color-white));
    border: 1px solid black;
    inline-size: 60%;
    margin-inline: auto;
}

.subscribe-btn {
    background: hsl(var(--color-red));
}

/* @media (max-width: 1046px) {
    
    

} */
/*
Email Form Requirements:
-> Title: Signup To Our Newsletter
-> SubHeading: Stay Up To Date On Promotions, Updates, Events, & More!
-> Label #1 (Optional): Full Name (Left)
-> Field #1: Full Name (Right)
-> Label #2 (Required): Email Address 
-> Field #2: Email Address (Right)
-> Option #1: I agree to receive emails from StreetKreeps and accept all terms and conditions.
-> Button Sign Me Up
*/