.emailSignup {
    display: grid;
    inline-size: 90%;
    margin-inline: auto;
    margin-block: 3em;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    border: 5px solid black;
    background: var(--color-grad-dark);
    box-shadow: 0 0 1em hsla(var(--color-red), 0.25);
}

.emailFormHeading {
    grid-column: span 2;
    width: 80%;
    justify-self: center;
    padding-block: 2rem;
    text-align: center;
}

.emailFormHeading > h2 {
    letter-spacing: 0.4rem;
    line-height: 1.2;
    font-size: clamp(1rem, 7vw + 1rem, 6rem);
    border: 1px solid hsl(var(--color-black), 0.8);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(var(--color-red), 0.5);
}

.emailFormHeading > p {
    font-size: clamp(1rem, 2vw, 3rem);
}


.emailSignup > .field {
    justify-self: center;
    grid-row: 2;
    width: 80%;
}

.termsGroup {
    grid-column: 1 / span 2; /* Span both columns */
    text-align: center;
    padding-inline: 2em;
}

.termsGroup > span {
    font-size: clamp(1rem, 3vw, 2rem);
    margin-inline: 1rem;
}

button[type="submit"] {
    color: hsl(var(--color-white));
    background-color: hsl(var(--color-red), 0.5);
    grid-column: span 2;
    
    border: 1px solid black;
    margin-inline: auto;
    border-radius: 5px;
    inline-size: 50%;
    block-size: 50%;
    font-size: clamp(var(--fs-200), 2.5vw, var(--fs-600));
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    transform: scale(1.1);
    color: hsl(var(--color-black));
    background-color: hsl(var(--color-white), 1);
}

/* @media (max-width: 1046px) {
    
    

} */