.contactContainer {
    display: grid;
    place-content: center;
    row-gap: 1em;
    border: 1px solid hsl(var(--color-white), 0.3);
    border-radius: 10px;
    margin: 3rem auto;
    background: hsl(var(--color-black), 0.5);
    inline-size: max(20rem, 80%);
    padding: 2rem;
    box-shadow: 0 0 1em hsla(var(--color-red), 0.5);
}

.contactContainer > h1 {
    font-size: clamp(5ch, 3.5vw + 1.5rem, 6rem);
    font-weight: 550;
    border: 1px solid hsl(var(--color-black), 0.8);
    background-color: hsl(var(--color-red), 0.5);
    border-radius: 10px;
}

.contactContainer > h1,
.subtitle,
.lastParagraphs {
    text-align: center;
}

.subtitle,
.lastParagraphs {
    font-size: clamp(2ch, 2vw, 2rem);
}

.contactInfo {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    inline-size: 100%;
    border: 1px solid hsl(var(--color-white), 0.3);
    /* align-items: center; */
    padding: 2rem 1rem;
}

.contactInfo > strong + p.info {
    justify-content: center;
    align-content: center;
}

.contactInfo > strong {
    font-size: clamp(2ch, 2.4vw, 2rem);
    font-weight: 300;
}

.contactInfo > p.info {
    font-size: clamp(2ch, 2.4vw, 2rem);
    line-break: strict;
}